
/* Body & Body related */
body{
    color: white;
    background-color: #222222;
    font-family: Fontin-Regular;
}
.row p{
    text-align: justify;
    font-size: 18px;
    width: 100%;
}
.tab{
    text-indent: 2em;
}
.container{
    max-width: 90%;
}

/* Header = Navigation Bar */
.navbar{
margin-bottom: 0px;
border-radius: 0px;
min-height: 60px;
background-color: #9c1a1a;
color: #ffffff;
font-size: 1.2em;
border: 0px;
border-bottom: 2px solid white;
font-family: Calibri;
font-weight: bold;
}
.container-fluid{
margin-top: 5px;
}
.navbar-brand{
height: 60px;
float: left;
padding: 0 0 0 0;
}
.header-logo {
height: 100%;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
background-color: white;
}
.navbar-inverse .navbar-toggle .icon-bar{
background-color: black;
}
.navbar-inverse .navbar-nav li a {
margin: 2px 5px;
color: #dbdbdb;
}
.navbar-inverse .navbar-nav li a:hover {
margin: 2px 5px;
background-color: #c04232;
border-radius: 10px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
color: #000000;
background-color: #ffffff;
border-radius: 10px;
}

/* Footer */
footer {
width: 100%;
background-color: #9c1a1a;
padding: 1%;
color: white;
font-family: Verdana;
border: 2px solid white;
}
.footer-title{
    font-size: 24px;
}
.fa, .fa:active, .fa:focus{
margin: 4px;
padding: 8px;
font-size: 30px;
color: white;
text-decoration: none;
}
.fa:hover{
text-decoration: none;
background-color: white;
border: 0px solid white;
border-radius: 10px;
}
.fa-facebook:hover {
color: #4267b2;
}
.fa-twitter:hover{
color: #1da1f2;
}
.fa-google:hover{
color: #db4437;
}
.fa-linkedin:hover{
color: #0077B5;
}
.fa-youtube:hover{
color: red;
}
.fa-envelope-open:hover{
color: #0f50b3;
}

/* Media */
@media(max-width: 1050px){
    #rotate-infinite{
        width: 150px;
    }
    .fa, .fa:active, .fa:focus{
        font-size: 25px;
        margin: 2px;
    }
    .footer-title{
        font-size: 20px;
    }
}
@media(max-width: 768px){
    .fa, .fa:active, .fa:focus{
        font-size: 20px;
    }
    .footer-title{
        font-size: 16px;
    }
    #rotate-infinite{
        width: 120px;
    }
    .footer-title{
        display: none;
    }
}
@media(max-width: 600px){
    .fa, .fa:active, .fa:focus{
        padding: 6px;
    }
    #rotate-infinite{
        width: 100px;
    }
}

/* Fonts  */
@font-face {
    font-family: AdobeGaramondProRegular;
    src: url('src/AdobeGaramondProRegular.ttf') format('truetype');
}
@font-face {
    font-family: Fontin-Bold;
    src: url('src/Fontin-Bold.tff') format('truetype');
}
@font-face {
    font-family: Fontin-Italic;
    src: url('src/Fontin-Italic.ttf') format('truetype');
}
@font-face {
    font-family: Fontin-Regular;
    src: url('src/Fontin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Fontin-SmallCaps;
    src: url('src/Fontin-SmallCaps.ttf') format('truetype');
}
                

/* Animation - Rotate */
#rotate-infinite {
    -webkit-animation: rotation 10s infinite linear;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}